<!DOCTYPE HTML>
<html lang="en">
	<head>
		<title>Identity by HTML5 UP</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/stylesheets/main.css" />
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<noscript><link rel="stylesheet" href="/stylesheets/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<section id="main">
						<header>
							<span class="avatar"><img src="/images/utils/chat-icon.gif" alt="chat-icon" /></span>
							<h1>Reza Firouzi</h1><br><br>
							<p>Awsome Chat Application</p>
						</header>
						<footer>
							<ul class="icons">
								<li><i class="icon brands material-icons">login</i></li>
							</ul>
						</footer>
					</section>

				<!-- Footer -->
					<footer id="footer"></footer>
			</div>

		<!-- Scripts -->
			<script>
				if ('addEventListener' in window) {
					window.addEventListener('load', function() { document.body.className = document.body.className.replace(/\bis-preload\b/, ''); });
					document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
				}

				const login = document.querySelector('.icon');
				login.addEventListener('click', e => {
					console.log('Login button clicked!');
				});
			</script>
	</body>
</html>
