<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Reza Firouzi">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/stylesheets/entry-style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Login</title>
</head>

<body>
    <div id="container-login">
        <div id="title">
            <i class="material-icons lock">lock</i> Login
        </div>
        <form>
            <div class="input">
                <div class="input-addon">
                    <i class="material-icons">account_circle</i>
                </div>
                <input placeholder="Username" type="text" required class="validate">
            </div>
            <div class="clearfix"></div>

            <div class="input">
                <div class="input-addon">
                    <i class="material-icons">vpn_key</i>
                </div>
                <input placeholder="Password" type="password" required class="validate">
            </div>
            <input class="submit" type="submit" value="Log In" />
        </form>

        <div class="forgot-password">
            <a href="/forgot-password">Forgot your password?</a>
        </div>
        <div class="register login-register">
            Don't have an account yet?
            <a href="/register"><button id="register-link">Register here</button></a>
        </div>
    </div>
<script>
    const userInputs = document.querySelectorAll('.validate');
    const username = userInputs[0];
    const password = userInputs[1];
    const submit = document.querySelector('.submit');

    submit.addEventListener('click', e => {
        e.preventDefault();
        fetch('/login', {
            method: 'post',
            body: JSON.stringify({
                username: username.value,
                password: password.value
            }),
            headers: {
                'Content-Type': 'application/json'
            }
        }).then(response => {
            return response.json();
        }).then(data => {
            if (data.ok)
                // window.location.href = `/chat?name=${data.name}&username=${data.username}&groups=${data.groups}`;
                window.location.href = `/chat`;
            else
                alert(data.description);
        });
    });
</script>
</body>
</html>
