<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Reza Firouzi">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/entry-style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>New Password</title>
</head>

<body>
<div id="container-login">
    <div id="title">
        <i class="material-icons lock">lock</i> New Password
    </div>
    <form>
        <p>New password</p>
        <div class="input">
            <div class="input-addon">
                <i class="material-icons">vpn_key</i>
            </div>
            <input type="password" required class="validate">
        </div>
        <div class="clearfix"></div>

        <p>Confirm new password</p>
        <div class="input">
            <div class="input-addon">
                <i class="material-icons">vpn_key</i>
            </div>
            <input type="password" required class="validate">
        </div>

        <input class="submit" style="margin-top: 30px;" type="submit" value="Confirm" />
    </form>
</div>
</body>
</html>