<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Reza Firouzi">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/stylesheets/entry-style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Register</title>
</head>

<body>
    <div id="container-register">
        <div id="title">
            <i class="material-icons lock">text_snippet</i> Register
        </div>
        <form>
            <div class="input">
                <div class="input-addon">
                    <i class="material-icons">person</i>
                </div>
                <input placeholder="First name" type="text" class="validate" required maxlength="15">
            </div>
            <div class="clearfix"></div>

            <div class="input">
                <div class="input-addon">
                    <i class="material-icons">person</i>
                </div>
                <input placeholder="Last name" type="text" class="validate" required maxlength="25">
            </div>
            <div class="clearfix"></div>

            <div class="input">
                <div class="input-addon">
                    <i class="material-icons">email</i>
                </div>
                <input placeholder="Email" type="email" required class="validate">
            </div>
            <div class="clearfix"></div>

            <div class="input">
                <div class="input-addon">
                    <i class="material-icons">account_circle</i>
                </div>
                <input placeholder="Username" type="text" class="validate" required minlength="5">
            </div>
            <div class="clearfix"></div>

            <div class="input">
                <div class="input-addon">
                    <i class="material-icons">vpn_key</i>
                </div>
                <input placeholder="Password" type="password" required class="validate">
            </div>

            <input class="submit" type="submit" value="Register" />
        </form>
        <div class="register">
            Do you already have an account?
            <a href="/login"><button id="register-link">Log In</button></a>
        </div>
    </div>

<script>
    const userInputs = document.querySelectorAll('.validate');
    const submit = document.querySelector('.submit');
    const login = document.getElementById('register-link');

    submit.addEventListener('click', e => {
        e.preventDefault();
        const newUser = {
            first_name: userInputs[0].value,
            last_name: userInputs[1].value,
            email: userInputs[2].value,
            username: userInputs[3].value,
            password: userInputs[4].value
        }
        fetch('/register', {
            method: "post",
            body: JSON.stringify(newUser),
            headers: {
                'Content-Type': 'application/json'
            }
        }).then(response => {
            return response.json();
        }).then(jsonResponse => {
            if (jsonResponse.ok && jsonResponse.n) {
                resetInputs();
                alert('Registration Successful');
                login.click();
            } else {
                alert(`Registration failed!\nReason: ${jsonResponse.reason}`);
            }
        });
    });

    function resetInputs() {
        userInputs.forEach(input => {
            input.value = '';
        });
    }
</script>
</body>
</html>
