<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Reza Firouzi">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/entry-style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Account Verification</title>
</head>

<body>
<div id="container-register">
    <div id="title">
        <i class="material-icons lock">fingerprint</i> Verification
    </div>

    <form action="/verification" method="post">
        <p>A code has been sent to your email</p>
        <div class="input">
            <div class="input-addon">
                <i class="material-icons">beenhere</i>
            </div>
            <input placeholder="Enter the code..." name="code" type="text" required class="validate">
        </div>
        <input class="submit" type="submit" value="Verify" />
    </form>
    <div class="register">
        Already have an account?
        <a href="/login"><button id="register-link">Log In</button></a>
    </div>
</div>
</body>
</html>
